<launch>

    <!-- Calling Twist_message converter node -->
    <node pkg="beamng_teleop_keyboard" type="converter" name="twist_message_converter" output="screen"/>

    <!-- Calling Teleop node -->
    <node pkg="beamng_teleop_keyboard" type="teleop_key" name="teleop_node" output="screen" />
  <!-- <node pkg="beamng_teleop_keyboard" type="twist_converter" name="twist_converter_node"  output="screen"/> -->
  <!-- </node> -->
</launch>
