<launch>
  <!-- <remap from="cmd_vel" to="/teleop/cmd_vel"/> -->

  <node pkg="beamng_teleop_keyboard" type="teleop_key" name="teleop_keyboard"  output="screen"/>
  <!-- <node pkg="beamng_teleop_keyboard" type="twist_converter" name="twist_converter_node"  output="screen"/> -->
  <!-- </node> -->
</launch>
