<launch>
    <!-- <arg name="vehicle_id"/> -->
    <arg name="vehicle_id" default="ego_vehicle"/>
    <!-- <arg name="vehicle_id" value="player_vehicle_1"/> -->
    <arg name="port" default="64256"/>
    <arg name="driving_mode" default="ai" doc="[ai, keyboard]"/>
    <!-- Use the variable SIMULATOR_IP in ~/.bashrc -->
    <arg name="host" default="$(env SIMULATOR_IP)"/>

    <node pkg="beamng_agent" type="control.py" name="control"  args="$(arg vehicle_id )">
        <param name="vehicle_id" value="$(arg vehicle_id)"/>
        <param name="port" value="$(arg port)"/>
        <param name="host" value="$(arg host)"/>
        <param name="driving_mode" value="$(arg driving_mode)"/>
    </node>
</launch>

