<launch>
    <!-- choose scenario-->
    <arg name="scenario" default="west_coast_with_all_sensors" 
    doc="[
    empty,
    west_coast_with_electrics,
    west_coast_with_many_vehicles_ultrasonic,
    GridMap_with_sensors,
    smallgrid_with_sensors,
    west_coast_with_two_ultrasonic,
    utah_scenario_with_cam_lidar_and_imu, 
    west_coast_with_all_sensors,
    west_coast_with_imu, 
    west_coast_with_lidar
    west_coast_with_radar
    west_coast_with_idealradar
    utah_scenario_with_cam_and_lidar
    ]"/>
    <arg name="scenario_config" value="$(find beamng_control)/config/scenarios/$(arg scenario).json"/>
    <arg name="port" default="64256"/>
    <!-- Use the variable SIMULATOR_IP in ~/.bashrc -->
    <arg name="host" default="$(env SIMULATOR_IP)"/>
    <!-- OR you can type your IPV4 here -->
    <!-- <arg name="host" value="192.168.1.107"/> -->
    
    <node pkg="beamng_control" type="bridge.py" name="beamng_control" output="screen" args="$(arg scenario_config)" >
        <param name="host" value="$(arg host)"/>
        <param name="port" value="$(arg port)"/>
    </node>

  <!-- rviz -->
    <arg name="open_rviz" value="true"/>
    <group if="$(arg open_rviz)"> 
        <node pkg="rviz" type="rviz" name="rviz" required="true"
            args="-d $(find beamng_control)/config/rviz/example.rviz" />
    </group>
</launch>
