<launch>
    <arg name="scenario" default="west_coast_with_all_sensors" doc="[simple_scenario, west_coast_with_electrics, simple_scenario_pickup, west_coast_with_lidar, weather, west_coast_with_sensors, west_coast, west_scenario_cam west_coast_with_all_sensors]"/>
    <include file="$(find beamng_control)/launch/bridge.launch">
        <!-- substitute with the ip address of your target machine-->
         <arg name="host" value="192.168.0.113"/> 
        <!-- choose scenario-->
        <arg name="scenario_config" value="$(find beamng_control)/config/scenarios/$(arg scenario).json"/>
    </include>
</launch>

